// Styles for main layout
// --------------------------------------------------

// Make more room for the logo.
header .navbar-brand {
  padding: 0 15px 0 0;
}
#logo {
  padding: 5px 0 5px 15px;
}
.site-name {
  display: block;
  float: left;
  padding: 15px 0;
}

// On mobile, we want the navbar to be full width and seperated by light
// grey lines.
.container .navbar-header,
.container .navbar-collapse {
  margin-left: -$grid-gutter-width;
  margin-right: -$grid-gutter-width;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}
.navbar .nav > li > a,
.navbar-form,
.navbar-header {
  border-bottom: 1px solid $gray-lighter;
}
.navbar-nav,
.navbar-form {
  margin-top: 0;
  margin-bottom: 0;
}

// Re-layout the header on tablet and bigger screens.
@media (min-width: $screen-sm-min) {
  #header {
    position: relative;

    // We use border-top, rather than padding-top so that we can easily put
    // a background color underneath the secondary menu for the full width
    // of the page.
    //padding-top: $secondary-nav-offset;
    border-top: $secondary-nav-height solid transparent;
    padding-top: $secondary-nav-margin;
  }

  // Make a little more room for the logo.
  #logo {
    padding: 0 0 0 15px;
  }

  // Eliminate all borders.
  .navbar .nav > li > a,
  .navbar-form,
  .navbar-header {
    border-bottom: none;
  }

  #header .search-form {
    width: $search-form-width;
    position: absolute;
    top: -$secondary-nav-offset + 4px;
    right: 0;
    padding: 0;
    margin: 0;
  }

  #header .search-form .form-item-keys,
  #header .search-form .form-item-keys input {
    width: 100%;
  }

  #secondary-nav {
    position: absolute;
    top: -$secondary-nav-offset;
    right: 0;
    font-size: $secondary-nav-font-size;
    height: $secondary-nav-height;
    padding-left: $secondary-nav-lr-padding;
    width: 100%;

    a {
      padding-top: $secondary-nav-tb-padding;
      padding-bottom: $secondary-nav-tb-padding;
    }

    .navbar-form {
      // @todo: This should probably be relative to a variable...
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }

  header.has-search-form #secondary-nav {
    right: $search-form-width + $navbar-padding-horizontal;
    padding-right: $secondary-nav-lr-padding;
  }

  // Hover a nice search icon over the search box.
  #header .search-form > div {
    position: relative;

    .form-submit {
      display: block;
      position: absolute;
      top: 6px;
      right: 10px;
      padding: 0;
      background: none;
      border: 0;
      color: inherit;

      .button-text {
        display: none;
      }
    }
  }

  // TODO: This color stuff needs to go in it's own place!
  // -----------------------------------------------------

  #header {
    border-top-color: #0e83cd;
  }
  #secondary-menu > li {
    >a, >a:link, >a:visited {
      color: white !important;
    }
  }

}

// Fixes for the IPE in 'full width' mode
// --------------------------------------------------
.panels-ipe-editing .mvpcreator-theme-full-width {
  @extend .container;

  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

