// Styles for mvpcreator_blog.
// --------------------------------------------------

.mvpcreator-blog-submission-info {
  font-size: 0.8em;
}

.node-mvpcreator-blog {
  .pane-node-terms {
    .pane-title {
      display: inline-block;
      font-weight: bold;
    }
    .pane-content {
      display: inline-block;
    }
    ul.links {
      li {
        display: inline-block;
        padding-left: 0.5em;
      }
    }
  }
}

// Add a bottom margin to the full node view in a way that will collapse
// into the comment widgets top margin if nothing is placed inbetween.
.mvpcreator-blog-page {
  .node-mvpcreator-blog.view-mode-full {
    margin-bottom: 30px;
  }
}

/*
.node-mvpcreator-blog.view-mode-teaser,
.node-mvpcreator-blog.view-mode-full {
  .pane-node-field-featured-image {
    // To match the styling from caption filter.
    img {
      border: 1px solid #ccc;
      padding: 4px;
      background: #f3f3f3;
      max-width: 100%;
    }
  }
}
*/

